$gray1: #1a1a1a;
$gray2: #333333;
$gray3: #4d4d4d;
$gray4: #666666;
$gray5: #7f7f7f;
$gray6: #999999;
$gray7: #b3b3b3;
$gray8: #cccccc;
$gray9: #e5e5e5;

$main-red: #d9534f;
$main-green: #5cb85c;

$pad1: 8px 12px;
$pad2: 6px 10px;
$pad3: 4px 8px;
$pad4: 2px 4px;

$activated-color: #2299ee;
$activated-border: #2299ee;
$activated-background: rgba(34, 153, 238, 0.10);

$selected-color: #d62276;
$selected-border: #d62276;
$selected-background: rgba(214, 34, 118, 0.20);

@import 'designer';

html, body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font: 14px Helvetica Neue, Helvetica, Arial, Utkal, sans-serif;
  color: #fff;
}

body {
  background-color: $gray1;
  color: #fff;
  box-sizing: border-box;
  position: relative;
}

* { 
  font-weight: normal;
  margin: 0;
}

h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 13px; }

h1, h2, h3, h4, h5 {
  box-sizing: border-box;
}

p,
input[type='text'],
input[type='number'],
input[type='checkbox'],
select { 
  font-size: 12px;
  box-sizing: border-box;
}

select {
  padding: $pad4;
  border-radius: 0;
  border: 1px solid #000;
}

input[type='text'],
input[type='number'],
input[type='checkbox'] { 
  border: 1px solid #000;
  padding: $pad4;
  box-sizing: border-box;

  &:read-only {
    background-color: $gray3;
    color: #fff;
    border: 1px solid $gray3;
  }
}

ul, li {  
  list-style: none;
  padding-left: 0;
}
a, a:hover, a:focus, a:visited {
  color: #fff;
  text-decoration: none;
}

input[type='text'],
select {
  padding: $pad4;
  font-size: 12px;
}

.w100, .hw100 {
  width: 100%;
}

.h100, .hw100 {
  height: 100%;
}

.pnl,
.pnl-o,
.box,
.box > .hdr,
.box > .content {
  position: relative;
  box-sizing: border-box;
}

.pnl {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.pnl-o {
  overflow: auto;
}

.text-center {
  text-align: center;
}

.pin-top-r,
.pin-top-l {
  position: absolute;
  top: 0;
}

  .pin-top-r {
    right: 0;
  }

  .pin-top-l {
    left: 0;
  }

.float-left,
.float-right {
  display: inline-block;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

button, .btn, a.btn  {
  padding: $pad3;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #000;
  background-image: none, linear-gradient(to bottom, rgba(0, 0, 0, .01) 0, rgba(0, 0, 0, .2) 100%);
  background-color: #fff;
  color: #000;
  font: 12px Helvetica Neue, Helvetica, Arial, Utkal, sans-serif;
  text-decoration: none;
  box-sizing: border-box;

  &:hover {
    background-color: darken(#fff, 8%);
    cursor: pointer;
  }

  &:active,
  &:focus {
    background-color: darken(#fff, 10%);
  }

  &:disabled {
    background-color: $gray9;
    color: $gray5;
    border-color: $gray3;

    &:hover {
      background-color: $gray8;
      cursor: not-allowed;
    }
  }

  &.selected {
    background-color: $selected-color;
    color: #fff;

    &:hover {
      background-color: darken($selected-color, 8%);
    }

    &:active,
    &:focus {
      background-color: darken($selected-color, 10%);
    }

    &:disabled {
      background-color: lighten($selected-color, 10%);
    }
  }

  &.btn-red {
    background-color: $main-red;
    color: #fff;

    &:hover {
      background-color: darken($main-red, 8%);
    }

    &:active,
    &:focus {
      background-color: darken($main-red, 10%);
    }

    &:disabled {
      background-color: lighten($main-red, 10%);
    }
  }

  &.btn-green {
    background-color: $main-green;
    color: #fff;

    &:hover {
      background-color: darken($main-green, 8%);
    }

    &:active,
    &:focus {
      background-color: darken($main-green, 10%);
    }

    &:disabled {
      background-color: lighten($main-green, 10%);
    }
  }
}

.btn-wrap {
  padding: 4px 8px;
  
  .btn {
    margin-left: 4px;
  }
}

.pad1 {
  padding: $pad1;
}
.pad2 {
  padding: $pad2;
}
.pad3 {
  padding: $pad3;
}
.pad3 {
  padding: $pad4;
}

.box {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: $gray2;
  overflow: hidden;
  z-index: 1000;

  .hdr {
    background-color: $gray3;
    height: 28px;
    padding: $pad2;
    font-size: 14px;
  }
  .content {
    height: calc(100% - 28px);
    overflow: auto;
    padding: $pad1;
    font-size: 14px;
    z-index: 1001;
  }
}

table.input-table,
table.input-table-lg {

  tr {

    td:first-child {
      font-size: 13px;
      padding-right: 8px;
    }
    td:nth-child(2) {
      padding: 0;
    }
    td {
      input[type='text'],
      input[type='number'],
      input[type='checkbox'],
      select {
        box-sizing: border-box;
        width: 100%;
      }
      padding-bottom: 4px;
    }
  }
}

table.input-table-lg {
  tr {
    td:first-child {
      font-size: 14px;
      padding-right: 8px;
    }
  }
}

/* More stylish checkbox and radio inputs with labels */
.checkbox-wrap,
.radio-wrap {
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 0 6px 0 20px;
    font-weight: normal;

    &.readonly {
      cursor: default;
    }
  }

  input[type=radio],
  input[type=checkbox] {
    display: none;
  }

  label:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .5), 0 1px 0 0 rgba(255, 255, 255, .8);
    background-color: #cdcdcd;
    border: 1px solid #bbb;
  }
}

.checkbox-wrap {
  label:before {
    border-radius: 3px;
  }

  input[type=checkbox]:checked + label:before {
    content: '\2713';
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
    border: 1px solid #bbb;
    background-color: #999;
  }
}

.radio-wrap {
  label:before {
    border-radius: 8px;
  }

  input[type=radio]:checked + label:before {
    content: '\2022';
    color: #f3f3f3;
    font-size: 34px;
    text-align: center;
    line-height: 15px;
    border: 1px solid #bbb;
    background-color: #999;
  }
}